<label for="">Amount: </label>
<input type="text" id="order-amt">
<br>
<!-- get order from razorpay -->
<button id="order-button1">Create Order</button>
<br>
<script>
    document.getElementById("order-button1").onclick = function (e) {
        let url = "/api/payment/order"
        let params = {
            amount: document.getElementById("order-amt").value,
            currency: "INR",
            receipt: "hnujhfiuj635",
            payment_capture: "1"
        };
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function (res) {
            if (xmlHttp.readyState == 4) {
                res = JSON.parse(xmlHttp.responseText);
                document.getElementById("rzp-text").value = res.sub.id
            }
        }
        xmlHttp.open("POST", url, true);
        xmlHttp.setRequestHeader("Content-type", "application/json");
        xmlHttp.send(JSON.stringify(params))
    }
</script>
<br>
<hr>
<label for="">Order id:</label>
<input type="text" name="" id="rzp-text">
<br>
<button id="rzp-button1">Checkout</button> 
<div id="paymentDetails"></div>
<script>
    const razorpay = require("razorpay");
    document.getElementById("rzp-button1").onclick = function (e) {
        let options = {
            "key": "<%= key %>",
            "currency": "INR",
            "name": "sharath",
            "decription": "sharath transaction",
            "order_id": document.getElementById("rzp-text").value,
            "handler": function (respose) {
                document.getElementById("order-pay-id").value = response.razorpay_payment_id;
                document.getElementById("order-pay-id").value = response.razorpay_order_id;
                document.getElementById("order-pay-id").value = response.razorpay_signature;
            },
            "theme": {
                "color": "#0EB9F2"
            }
        }
        let rzpl = new razorpay(options);
        rzpl.open();
        e.preventDefault();
    }
</script>
<br>
<label for="">Order id:</label>
<input type="text" id="order-id">
<label for="">Payment id:</label>
<input type="text" id="order_id">
<label for="">Order signature</label>
<input type="text" id="order-id">
<br>
<button id="verify-button1">Verify</button>
<script>
    document.getElementById("verify-button1").onclick = function (e) {
        let url = '/api/payment/verify'
        let params = {
            razorpay_order_id: document.getElementById("order-id").value,
            razorpay_payment_id: document.getElementById("order-pay-id").value,
            razorpay_signature: document.getElementById("order-sig").value,
        };
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function (res) {
            if (xmlHttp.readyState == 4) {
                alert(xmlHttp.responseText);
            }
        }
        xmlHttp.open("POST", url, true);
        xmlHttp.setRequestHeader("content-type", "application/json");
        xmlHttp.send(JSON.stringify(params));
    }
</script>